<div id="all">

	<!-- Save Header -->
	<header>
		<button disabled class="btn tabBtn"><i class="fa fa-save"></i> Save</button>
		<button ng-click="go('search')" class="btn tabBtn"><i class="fa fa-search"></i> Search</button>
	</header>
	<!-- END Save Header -->

	<!-- Search Content -->
	<div id="content"> 

		<div id="sa_info">
			<!-- Name -->
			<!-- <input class="sa_info_input" ng-model="sa_name" type="text" placeholder="Name"> -->
			<input type="text" ng-model="sa_name" placeholder="Name" typeahead="recent.title for recent in recentList | filter:$viewValue | limitTo:4" class="sa_info_input" typeahead-on-select="onSelect($item)">

			<!-- Tags -->
			<input class="sa_info_input" ng-model="sa_tags" type="text" placeholder="Tags">
		</div>

		<!-- Tabs Selected -->
		<div id="sa_saveTabs">
			<!-- The tabs -->
			<ul>
				<li class="sa_tab" ng-class="{true : 'sa_selected'}[item.selected]" 
				ng-repeat="item in sa_tabs" ng-click="sa_select($index)">

					<!-- title -->
					<div class="sa_tab_title">
						<i ng-show="item.selected" class="fa fa-check greenColor"></i>
						<img ng-show="!item.selected" src="{{item.favicon}}" width="15px" height="15px"></img>
						{{item.title}}
					</div>

					<!-- url -->
					<div class="sa_tab_url">
						{{item.url}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- END Search Content -->

	<!-- Save Footer -->
	<footer>
		<!-- Save Session -->
		<button id="sa_saveBtn" ng-click="save()" class="btn btn-mini btn-success"
		ng-class="{'disabled': !goodToSave()}">
			<i class="fa fa-plus"></i> Save Session
		</button>
	</footer>
	<!-- END Save Footer -->
</div>	