<div id="all">

	<!-- Save Header -->
	<header>
		<button disabled class="btn tabBtn"><i class="fa fa-folder-o"></i> Save</button>
		<button ng-click="go('search')" class="btn tabBtn"><i class="fa fa-folder-o fa-flip-horizontal"></i> Search</button>
	</header>
	<!-- END Save Header -->

	<!-- Search Content -->
	<div id="content"> 

		<div id="sa_info">
			<!-- Name -->
			<input class="sa_info_input" ng-model="saName" type="text" placeholder="Name">

			<!-- Tags -->
			<input class="sa_info_input" ng-model="saTag" type="text" placeholder="Tags">
		</div>

		<!-- Tabs Selected -->
		<div id="sa_saveTabs">
			<!-- The tabs -->
			<ul>
				<li class="sa_tab" ng-class="{true : 'sa_selected'}[item.selected]" 
				ng-repeat="item in sa_tabs" ng-click="sa_select($index)">

					<!-- title -->
					<div class="sa_tab_title">
						<i ng-show="item.selected" class="fa fa-check greenColor"></i>
						{{item.title}}
					</div>

					<!-- url -->
					<div class="sa_tab_url">
						{{item.url}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- END Search Content -->

	<!-- Save Footer -->
	<footer>
		<!-- Save Session -->
		<button id="sa_saveBtn" ng-click="" class="btn btn-success"><i class="fa fa-plus"></i> Save Session</button>
	</footer>
	<!-- END Save Footer -->
</div>	