<div id="all">

	<!-- Search Header -->
	<header>
		<button ng-click="go('/')" class="btn tabBtn"><i class="fa fa-save"></i> Save</button>
		<button disabled class="btn tabBtn"><i class="fa fa-search"></i> Search</button>
	</header>
	<!-- END Search Header -->

	<!-- Search Content -->
	<div id="se_content">
		<!-- Search Bar -->

		<!-- Saved Sessions -->
	</div>
	<!-- END Search Content -->

	<!-- Search Footer -->
	<footer>
	</footer>
	<!-- END Search Footer -->
</div>
	