<div id="all">

	<!-- Search Header -->
	<header>
		<button ng-click="go('/')" class="btn tabBtn"><i class="fa fa-folder-o"></i> Save</button>
		<button disabled class="btn tabBtn"><i class="fa fa-folder-o fa-flip-horizontal"></i> Search</button>
	</header>
	<!-- END Search Header -->

	<!-- Search Content -->
	<div id="content">
		<!-- Search Bar -->
		<div id="se_searchBar">
			<i id="search_icon" class="fa fa-search"></i>
			<input id="search" type="search" class="form-control" placeholder="Search">
		</div>

		<!-- Saved Sessions -->
	</div>
	<!-- END Search Content -->

	<!-- Search Footer -->
	<footer>
		<!-- Prev button -->
		<button id="se_prev" class="btn btn-mini" ng-click="prevPage()"
		ng-class="{ 'disabled': (curPage == 0) }">
			<i class="fa fa-angle-left"></i>
		</button>

		<!-- pagination -->
		<ul id="se_pagination">
			<li ng-repeat="page in pageItems">
				<button class="btn pageBtns btn-mini" ng-class="{'btn-success disabled': page == curPage}" ng-click="setPage(page)">
					{{page + 1}}
				</button>
			</li>
		</ul>

		<!-- next button -->
		<button id="se_prev" class="btn btn-mini" ng-click="nextPage()"
		ng-class="{ 'disabled': (curPage == pageItems.length - 1) || (keepTabs.length == 0) }">
			<i class="fa fa-angle-right"></i>
		</button>
	</footer>
	<!-- END Search Footer -->
</div>
	