/*�Gabriel Gheorghian*/

/*
Color Scheme...vushkyvush
http://www.colorcombos.com/color-schemes/117/ColorCombo117.html
*/

body,button{
    margin:0;
    padding:0;
}

td {
    text-align: center;
    vertical-align: middle;
}

ul {
	margin:0px;
	list-style-type: none;
}

li {
    margin:0px;
}

header{
	float:left;
	width:100%;
	height:30px;
}

footer{
	float:left;
	width:100%;
	height:22px;
}

button{
	margin:0px;
}

#all{
	width:300px;
	height:400px;
	overflow-x: hidden;
	overflow-y:auto;
	background-color: #EFEFDE;
}

#content{
	float:left;
	width:100%;
    height: -webkit-calc(100% - 53px);
}


/* * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * *
 *			Save Tab
 * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * */
#sa_info{
	float:left;
	height:70px;
	margin:3px 2px 0px 2px;
	width:-webkit-calc(100% - 4px);
}

#sa_saveTabs{
	float:left;
	margin:3px 2px 0px 2px;
	width:-webkit-calc(100% - 4px);
	height:270px;
	overflow: auto;
}


#sa_saveBtn{
	line-height: 15px;
	margin: 2px 3px 2px;
	width:-webkit-calc(100% - 6px);
}


/* * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * *
 *			Search Tab
 * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * */

#se_searchBar{
	position:relative;
	float:left;
	margin: 2px 6px 2px;
	width:-webkit-calc(100% - 12px);
	height:30px;
}

#search{
	width:-webkit-calc(100% - 36px);
	padding-right: 30px;
}

#search_icon{
	position: absolute;
	top:-3px;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

 #se_prev{
 	float:left;
 	width:50px;
 	height:100%;
 }

#se_pagination{
	float:left;
	width:-webkit-calc(100% - 100px);
	height:100%;
}

#se_pagination li{
	display:inline-block;
	float:left;
	height: 100%;
	width:25px;
}

#se_pagination li button{
	width:100%;
}

 #se_next{
 	float:right;
 	height:100%;
 	width:50px;
 }


/* * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * *
 *			Classes
 * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * */


.tabBtn{
	float:left;
	margin: 2px 3px 2px;
	width:-webkit-calc(50% - 6px);
	height:-webkit-calc(100% - 4px);
	line-height:15px;
}

.tabBtn:first-child{
	margin-right:0px;
	width:-webkit-calc(50% - 3px);
}

.sa_info_input{
	width:-webkit-calc(100% - 14px);
	margin:0px;
			transform: scaleX(0.98);
	-webkit-transform: scaleX(0.98);
}

.sa_tab{
	font-size:94%;
	width:-webkit-calc(100% - 10px);
	margin:5px;
	cursor:pointer;
			transform: scale(0.93,0.93);
	-webkit-transform: scale(0.93,0.93);
			transition: all 1s;
	-webkit-transition: all 1s;
}

.sa_tab:hover{
	background-color: #CEDFCE;
}


.sa_selected{
			transition: all 1s;
	-webkit-transition: all 1s;
			transform: scale(1,1);
	-webkit-transform: scale(1,1);
}


.sa_tab:last-child{
	border-bottom:0px;
}

.sa_tab_title{
	margin:2px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width:-webkit-calc(100% - 34px);
}

.sa_tab_url{
	font-size: 85%;
	margin:2px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width:-webkit-calc(100% - 34px);
}

.greenColor{
	color: white;
	color: darkgreen;
}


div::-webkit-scrollbar{
    width: 9px;
	height:9px;
}

div::-webkit-scrollbar-track{
	background-color: #EFEFDE;
	border-radius:8px;
}
 
div::-webkit-scrollbar-thumb{
    background-color: #BDCFBD;
	border-radius:8px;
}

button:focus, .btn:focus{
	border-color: none;
    		box-shadow: none;
    -webkit-box-shadow: none;
	outline: 0 none;
}
